<div class="sidebar" id="sidebar">
    <div class="sidebar-inner slimscroll">
        <div id="sidebar-menu" class="sidebar-menu">
            <ul class="sidebar-vertical">
                <li class="menu-title"><span>Dashboard</span></li>
                <li>
                    <a href="#"><i class="fe fe-users"></i> <span>Dashboard</span></a>
                </li>
                <li class="menu-title"><span>Projetos</span></li>
                <li>
                    <a href="{% url "clientes:list" %}">
                        <i class="fe fe-users"></i> <span>Clientes</span>
                    </a>
                </li>
                <li>
                    <a href="{% url "orcamentos:list" %}">
                        <i class="fe fe-users"></i> <span>Orçamentos</span>
                    </a>
                </li>
                <li class="menu-title"><span>Parceiros</span></li>
                <li>
                    <a href="vendors.html"><i class="fe fe-user"></i> <span>Vendedores</span></a>
                </li>
                <li>
                    <a href="vendors.html"><i class="fe fe-user"></i> <span>Marceneiros</span></a>
                </li>
            </ul>
        </div>
    </div>
</div>