{% extends "layout/base.html" %}

{% block title %}Detalhes do cliente{% endblock title %}

{% block content %}

    <div class="card mt-3">
        <div class="card-header">
            <h2>{{ cliente.nome }}</h2>
        </div>
        <div class="card-body">
            <ul>
                <li><strong>Telefone:</strong> {{ cliente.telefone }}</li>
                <li><strong>E-mail:</strong> {{ cliente.email|default:"Não fornecido" }}</li>
                <li><strong>Endereço:</strong> {{ cliente.endereco|default:"Não fornecido" }}</li>
            </ul>
        </div>
        <div class="card-footer">
            <a href="{% url "clientes:list" %}" class="btn btn-secondary">Voltar</a>
        </div>
    </div>

{% endblock content %}